##               Identifiers Variables  Operators  and Data Types

### Identifiers

In [1]:
"_".isidentifier()

True

In [2]:
"99".isidentifier()

False

## Variables

In [5]:
var1 = 100          

print(var1)

print(type(var1))

100
<class 'int'>

In [6]:
var2  = 1000.0      
var2

1000.0

In [8]:
print(type(var2))

<class 'float'>

In [9]:
var3    = "Python"  
var3

'Python'

In [11]:
print(type(var3))

<class 'str'>

In [12]:
x = y = z = 10
print (x)
print (y)
print (z)

10
10
10

In [13]:
x,y,z = 10,25.5,"Python"
print (x)
print (y)
print (z)

10
25.5
Python

In [14]:
n

NameError: name 'n' is not defined

## Arithmetic Operators

In [17]:
a,b = 3,4

In [18]:
a + 1

4

In [19]:
a - 1

2

In [20]:
a * 3

9

In [21]:
b / 2

2.0

In [22]:
a // 2

1

In [23]:
b % 2

0

In [24]:
b ** 2

16

In [25]:
999999999999999999999999999999 + 1

1000000000000000000000000000000

## Relational Operators

In [26]:
1  <  2

True

In [27]:
2.0 >= 1

True

In [28]:
2.0 == 2.0

True

In [29]:
2.0 != 2.0

False

In [30]:
1 ==  ( 2 < 3)

True

In [31]:
(1 == 2) < 3

True

## Assigment Operators

In [ ]:
a,b,c = 21,10,0

In [ ]:
c = a + b
c

In [ ]:
c += a
print(c)

In [ ]:
c *= a
print(c)

In [ ]:
c /= a
print(c)

In [ ]:
c = 2
c %= a
print(c)

In [ ]:
c **=a
print(c)

In [ ]:
c //= a
print(c)

## Logical Operators

In [99]:
50%4

2

In [ ]:
a=50
print((a % 4 and a > 0))

In [100]:
a=50
print(not(a % 4 or a > 0))

False

In [101]:
b1 = True
b2 = False

print(b1 and b2)
print(b1 or b2)
print(not b1)

False
True
False

## Bitwise Operators

In [ ]:
a, b = 4, 5 
print (a & b)

In [ ]:
a, b = 4, 5 
print (a | b)

In [ ]:
a, b = 4, 5 
print (a ^ b)

In [ ]:
a = 4 
print (~a)

In [ ]:
a = 7 
print (a >> 1)

In [ ]:
a = 7 
print (a << 1)

In [ ]:
a = 7 
print (a >> 2)

## Membership Operators

In [3]:
s = "Harsha Tech"
"Tech" in s

True

In [5]:
s = "Harsha Tech"
"Tech" not in s

False

## Idenity Operators

In [18]:
x1 = 10
y1 = 10
print (x1 is y1)

True

In [19]:
id(x1)

140714348094128

In [20]:
id(y1)

140714348094128

In [21]:
x2 = "H@arsha"
y2 = "H@arsha"
print (x2 is y2)

False

In [10]:
id(x2)

147298588848

In [11]:
id(y2)

147298590320

In [24]:
s1 = "data science"
print(id(s1))
s2 =  "data science"
print(id(s2))

print (s1 is not s2)

147285888368
147285887984
True

In [13]:
id(x2)

147298489008

In [14]:
id(y2)

147298489328

In [15]:
x3 = [1, 2, 3]
y3 = [1, 2, 3]

print (x3 is y3)

False

## Precedence Operators

In [ ]:
float(22//3+3/3)

In [ ]:
x = int(43.55+2/2)     
x

In [ ]:
24//6%3

In [ ]:
24//4//2

id(): Give unique did for every type
    
type() : will give us datatye of a variable
    
isinstance() : will check whether tha var belongs to partcular class or not
    
    in Python everyting is an object including int float comples  string list tuple dictioanr
    
int()
bool()