### List Comprehension

### natural number less than 10

In [18]:
#{ x^2: x is a natural number less than 10 }

[x**2 for x in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Even numbers in range of o to 10

In [19]:
even_squares = []
for num in range(0,10):
    if num%2 == 0:
         even_squares.append(num * num)
print(even_squares)

[0, 4, 16, 36, 64]

In [20]:
even_squares = [num * num for num in range(0,11) if num%2 == 0]
even_squares

[0, 4, 16, 36, 64, 100]

### Looping with individual chars

In [1]:
chars = []
for letter in 'Comprehensions':
     chars.append(letter)
print(chars)

['C', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n', 's']

In [2]:
chars = [ letter for letter in 'Comprehensions' ]
print( chars)

['C', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n', 's']

### List comprehension with List of Strings

In [4]:
# converting upper case chars
com = ["allow","sequences","to","be","built","from","other","sequences"]
[c.upper() for c in com]

['ALLOW', 'SEQUENCES', 'TO', 'BE', 'BUILT', 'FROM', 'OTHER', 'SEQUENCES']

### List comprehension with tuples

In [9]:
# Convert height to feet  1 cm = 0.0328 feet

h_cms = [('akshay',183),('rahul',171),('sourav',179),('virat',190),('rohit',165)]

h_feet = [(height[0],round(height[1]*0.0328,1)) for height in h_cms]

print(h_feet)

[('akshay', 6.0), ('rahul', 5.6), ('sourav', 5.9), ('virat', 6.2), ('rohit', 5.4)]

### Nested Lists

In [12]:
l1 = []
for x in [20, 40, 60]:
    for y in [2, 4, 6]:
        l1.append(x * y)
print(l1)

[40, 80, 120, 80, 160, 240, 120, 240, 360]

#### converting nested list to list comprehension

In [13]:
l1 = [x * y for x in [20, 40, 60] for y in [2, 4, 6]]
print(l1)

[40, 80, 120, 80, 160, 240, 120, 240, 360]

### Finding common elements in list

In [17]:
lst_a = [1, 2, 3, 4, 6]
lst_b = [2, 3, 4, 5, 7]

c_lst = [a for a in lst_a for b in lst_b if a == b]

print(c_lst)

[2, 3, 4]

### Dictionary Comprehension

#### Double each value in the dictionary

In [23]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

double_dict1 = {k:v*2 for (k,v) in dict1.items()}

print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [ ]:
# Convert to range of numbers into Capital letters

In [30]:
d={i : chr(65+i) for i in range(10)}
d

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'H',
 8: 'I',
 9: 'J'}

#### list elements as the keys and the length of each string as the values

In [26]:
dict_comp = ["allow","sequences","to","be","built","from","other","sequences"]
{f:len(f) for f in dict_comp}

{'allow': 5,
 'be': 2,
 'built': 5,
 'from': 4,
 'other': 5,
 'sequences': 9,
 'to': 2}

In [28]:
# Convert the first char of a List of strings, first letter capitalized 

{f:f.capitalize() for f in dict_comp}

{'allow': 'Allow',
 'be': 'Be',
 'built': 'Built',
 'from': 'From',
 'other': 'Other',
 'sequences': 'Sequences',
 'to': 'To'}

### Set Comprehension

In [34]:
s1 = {s**2 for s in [1, 2, 1, 0]}
print(s1)

{0, 1, 4}

In [46]:
s2 = {s *2 for s in range(11)}
print(s2)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [48]:
s3 = {s for s in range(11) if s % 2}
print(s3)

{1, 3, 5, 7, 9}