# Working with Text Data

In [ ]:
# Reading and writing data to excel sheet

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('emp.csv')
df

,employee_id,Age,Basic Pay,No of Clients,Years of Service,Performance Score
0,1,49,61326,128,14,0
1,2,46,39180,438,22,1
2,3,61,33166,604,21,0
3,4,52,27849,202,38,0
4,5,43,15963,637,40,1
...,...,...,...,...,...,...
95,96,37,43234,359,23,1
96,97,39,47532,463,5,1
97,98,36,44389,324,18,0
98,99,61,15837,719,17,1
99,100,46,60080,107,25,1

In [4]:
df.to_csv('emp1.csv',sep=',',index=False)

In [ ]:
# working with PDF docs

In [ ]:
! pip install PyPDF2

In [6]:
import PyPDF2

In [9]:
f = open('Data Science using Python.pdf','rb')
pdf_reader = PyPDF2.PdfFileReader(f)

In [10]:
pdf_reader.numPages

3

In [11]:
page_one = pdf_reader.getPage(0)

In [12]:
page_one_text = page_one.extractText()
page_one_text

'D\nATA \nS\nCIENCE\n \nusing\n \nP\nYTHON\n \n \nLesson 01 \n-\n \nData Science & Data Analytics Overview\n \n\n \n                  \nWhat is Data Science\n \n                   \nWhy Data Science\n \n\n \nComponents of data Science\n \n\n \nApplications of data science\n \n\n \nWhy \nPython\n \nfor\n \nData Science\n \n \nLesson 0\n2\n \n-\n \nPython Overview & Environment Setup\n \n\n \n\n \n\n \nFunctions, Modules, \n \n\n \nString, List, \n \n\n \nTuple, Dictionary, Set\n \n\n \nList comprehension, \nDictionary comprehension\n \n\n \nRegular expressions \n \n\n \nPython File operations\n \n\n \nDatabase Operations using S\nqlite\n \n \n \nLesson 0\n3\n \n\n \nDescriptive Statistics\n, \nDistribution\ns and Visualization \n \n\n \nCentral Tendency (mean, median and mode)\n \n\n \nMeasures of Variation\n \n(\nInterquartile Range\n, \nVariance\n, \nStandard Deviation\n)\n \n\n \nBar Chart, Histogram, Box whisker plot, Scatter Plot\n \n\n \nCo\n-\nvariance\n, \nCorrelation\n \n\n \nBinomial Distribution\n, \nNormal Distribution\n \n\n \nSkewness and Kurtosis\n \n\n \nCDF, PDF\n \n \nLesson 0\n4\n \n\n \nInferential Statistics\n \n\n \nCentral Limit Theorem\n \n\n \nZ Test, T Test, P\n-\nvalue\n \n\n \nHypothesis testing\n \n\n \nChi\n-\nSquare, F\n-\n \nStatistic\n \n\n \nSampling Techniques\n \n \n \nLesson 0\n5\n \n-\n \nMathematical Computing \nwith\n \nPython\n \n(NumPy)\n \n\nto NumPy\n, N\n-\nD\n \narray\n \n\nMathematical Functions \nof NumPy\n \n\nData types and attributes of Arrays\n \n\nArray Indexing and Slicing\n \n\n1\n-\nD arrays and N\n-\nD arrays\n \n\nArray broadcasting \n \n \nLesson 0\n6\n \n-\n \nData Manipulation \nwith\n \nPandas\n \n\nto\n \nPandas\n, \n \n\n \n\nTransforming List, Tuple, Dictionaries into Data Frame\n \n\nAccessing rows and columns, Iteration over Data Frames\n \n'

In [14]:
f.close()

In [15]:
f = open('Data Science using Python.pdf','rb')

pdf_reader = PyPDF2.PdfFileReader(f)

first_page = pdf_reader.getPage(0)

In [16]:
pdf_writer = PyPDF2.PdfFileWriter()
pdf_writer.addPage(first_page)

In [17]:
pdf_output = open("New PDF.pdf","wb")
pdf_writer.write(pdf_output)

In [18]:
pdf_output.close()
f.close()

In [ ]:
# Reading data from json file

In [20]:
import json

orgn = '{"Company": "XYZ Online", "Technologies": ["python", "ml","dl"]}'

orgn_dict = json.loads(orgn)

print(orgn_dict)

print(orgn_dict['Company'])

print(orgn_dict['Technologies'])

{'Company': 'XYZ Online', 'Technologies': ['python', 'ml', 'dl']}
XYZ Online
['python', 'ml', 'dl']

In [ ]:
# Opening a json file for reading

In [21]:
import json

with open('orgn.json') as f:
  data = json.load(f)

print(data)

{'name': 'Sachin', 'number': 1000, 'avgscore': 48.2}

In [22]:
import xml.etree.ElementTree as ET
tree = ET.parse('country_data.xml')
root = tree.getroot()
print(root)

<Element 'data' at 0x000000419F190548>

In [23]:
root.tag

'data'

In [24]:
for child in root:
...     print (child.tag, child.attrib)

country {'name': 'Liechtenstein'}
country {'name': 'Singapore'}
country {'name': 'Panama'}

In [25]:
root[0][1].text

'2008'

In [26]:
for neighbor in root.iter('neighbor'):
...     print (neighbor.attrib)

{'name': 'Austria', 'direction': 'E'}
{'name': 'Switzerland', 'direction': 'W'}
{'name': 'Malaysia', 'direction': 'N'}
{'name': 'Costa Rica', 'direction': 'W'}
{'name': 'Colombia', 'direction': 'E'}

In [27]:
for country in root.findall('country'):
...     rank = country.find('rank').text
...     name = country.get('name')
...     print (name, rank)

Liechtenstein 1
Singapore 4
Panama 68

In [30]:
for rank in root.iter('rank'):
...     new_rank = int(rank.text) + 1
...     rank.text = str(new_rank)
...     rank.set('updated', 'yes')

In [31]:
tree.write('output.xml')

In [ ]:
# Working with SQlite

In [32]:
import sqlite3

conn = sqlite3.connect('emp.db')

print ("Opened database successfully")

conn.close()

Opened database successfully

In [33]:
import sqlite3

conn = sqlite3.connect('emp.db')
print ("Opened database successfully")

conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY    NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print ("Table created successfully")

conn.close()

Opened database successfully
Table created successfully

In [34]:
import sqlite3

conn = sqlite3.connect('emp.db')
print ("Opened database successfully")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print ("Records created successfully")
conn.close()

Opened database successfully
Records created successfully

In [44]:
import sqlite3

conn = sqlite3.connect('emp.db')
print ("Opened database successfully")

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for col in cursor:
   print ("ID = ", col[0])
   print ("NAME = ", col[1])
   print ("ADDRESS = ", col[2])
   print ("SALARY = ", col[3], "\n")

print ("Operation done successfully")
conn.close()

Opened database successfully
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0

ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully

In [35]:
import sqlite3 as lite

con = lite.connect('emp.db')

with con:

    cur = con.cursor()
    cur.execute("SELECT * FROM COMPANY")

    rows = cur.fetchall()

    for row in rows:
        print (row)

(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)

In [36]:
import sqlite3 as lite

con = lite.connect('emp.db')

with con:

    cur = con.cursor()
    cur.execute("SELECT * FROM COMPANY")

    while True:

        row = cur.fetchone()

        if row == None:
            break

        print (row[0], row[1], row[2])

1 Paul 32
2 Allen 25
3 Teddy 23
4 Mark 25

In [37]:
import sqlite3 as lite

con = lite.connect('emp.db')

with con:

    cur = con.cursor()
    cur.execute("SELECT * FROM COMPANY where ID=1")

    rows = cur.fetchall()

    for row in rows:
        print (row)

(1, 'Paul', 32, 'California', 20000.0)

In [39]:
import sqlite3 as lite

con = lite.connect('emp.db')

with con:

    cur = con.cursor()
    cur.execute("SELECT * FROM COMPANY where NAME='Paul'")

    rows = cur.fetchall()

    for row in rows:
        print (row)

(1, 'Paul', 32, 'California', 20000.0)

In [40]:
import sqlite3 as lite

con = lite.connect('emp.db')

with con:

    cur = con.cursor()
    cur.execute("SELECT * FROM COMPANY where SALARY >=30000")

    rows = cur.fetchall()

    for row in rows:
        print (row)

(4, 'Mark', 25, 'Rich-Mond ', 65000.0)

In [41]:
import sqlite3 as lite

con = lite.connect('emp.db')

with con:

    cur = con.cursor()
    cur.execute("SELECT * FROM COMPANY ORDER BY SALARY")

    rows = cur.fetchall()

    for row in rows:
        print (row)

(2, 'Allen', 25, 'Texas', 15000.0)
(1, 'Paul', 32, 'California', 20000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)

In [42]:
import sqlite3 as lite

con = lite.connect('emp.db')

with con:
    

    cur = con.cursor()
    cur.execute("SELECT * FROM COMPANY WHERE NAME LIKE 'a%'")

    rows = cur.fetchall()

    for row in rows:
        print (row)

(2, 'Allen', 25, 'Texas', 15000.0)

In [43]:
import sqlite3 as lite

con = lite.connect('emp.db')

with con:
    

    cur = con.cursor()
    cur.execute("SELECT MAX(salary) FROM COMPANY")
    
    rows = cur.fetchall()

    for row in rows:
        print (row)

(65000.0,)