## Python Lists

In [ ]:
list1 = [100, "python", 'p', 2000.55,True]
print(list1)

### Accessing list elements

In [ ]:
list1 = [100, "python", 'p', 2000.55,True]
print(list1)

print("--Forward indexing--")
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])
#print(list1[5])

In [ ]:
print("--Backward Indexing--")
print(list1[-1])
print(list1[-2])
print(list1[-3])
print(list1[-4])
print(list1[-5])
#print(list1[-6])

### Adding List elements

In [ ]:
list1=[10,"Python",None]  
list2=['p',25.50]  
list3=list1+list2  
print (list3)

In [ ]:
list1=[10,"Python"]  
list2= 35.50
#list3=list1+list2  
#print (list3)

In [ ]:
### Replicating elements

In [ ]:
list1=[10,20,30]  
print (list1 * 3)

### Membership Operations

In [ ]:
list1 = [100, "python", 'p', 2000.55,True]
"Python" in list1

In [ ]:
list1 = [100, "python", 'p', 2000.55,True]
"python" not in list1

In [ ]:
       
lst = [100, "python", 'p', 2000.55,True]
       

print(lst[0:3])
print(lst[3:5])
print(lst[-1:-3])
print(lst[-3:-1])
print(lst[-3:])

In [ ]:
x = [1, 2, 3, 4, 5]
print(x[1:])
print(x[:1])
print(x[:-2])
print(x[-2:])

### Updating elements

In [ ]:
list1=[100,'python',50.8,'a',200,300]  
print (list1)

list1[4] = 255.55
print (list1)

### Appending elements

In [ ]:
list2=[100,'python',50.8,'a']  
print (list2)

list2.append('True')
print (list2)

### Deleting elemets

In [ ]:
list3=[100,'python',50.8,'a',200,300]  
print (list3)

del (list3[5]) 
print (list3)

In [ ]:
del (list3[2:4])
print (list3)

### List Traversal

In [ ]:
# for loop
list1=[100,'python',50.8,'a',200,300]  
for lst1 in list1:
    print(lst1, end=" ")

In [ ]:
# Null List
list1=[]  
for lst1 in list1:
    print(lst1)
print("end")

In [ ]:
# nested lists
list1=[100,'python',50.8,'a',[200,300]] 
for lst1 in list1:
    print(lst1)

In [ ]:
list1=[100,'python',50.8,'a',200,300] 
# using while
index = 0
while index < len(list1):
    print(list1[index])
    index = index + 1
print("end")

### Insert elements

In [ ]:
list1=[100,'python',50.8,'a',200]  
print (list1)

list1.insert(5,'True')
print (list1)
list1.insert(2,'False')
print (list1)

### Extending lists

In [ ]:
data1=[100,'python',50.8,['a'],['b']]  
data2=['a',200]  
data1.extend(data2)  
print (data1)

In [ ]:
data1=[100,'python',50.8]  
data2=['a']  
data1.append(data2)  
print (data1)

In [ ]:
data1=[100,'python',50.8]  
data2=['a',200]  
data1.append(data2)  
print (data1)

### length

In [ ]:
list1 = [100, "python", 'p', 2000.55,True]
print(len(list1))

### count

In [ ]:
list1 = [100, "python", 'p', 2000.55,True, "python",100]
print ("Number of times python occured is", list1.count("python"))
print ("Number of times 100 occured is", list1.count(100))

### pop

In [ ]:
list1 = [100, "python", 'p', 2000.55,True]  
print (list1.pop())
print (list1.pop(2))
#print (list1.pop(6))
print (list1)

In [ ]:
list1 = [100, "python", 'p', 2000.55,True]  
list1.remove('p')
print(list1)

In [ ]:
list1 = [100, "python", 'p', 2000.55,True]  
#list1.remove('z')
print(list1)

### sort

In [ ]:
list1 = [100, 400, 150.50, 600] 

list1.sort()
print(list1)

list1.sort(reverse=True)
print(list1)

In [ ]:
list2=[10,20,30,40,50]  
list2.reverse()  
print (list2)

### Max Min elements

In [ ]:
print('-----------max and min----------')
list3 = [-500, 10, 200, 1000]
print(max(list3))
print(min(list3))

### List Search

In [ ]:
lst1 = ["Strings","are","immutable"]

index = lst1.index('are')
print('The index of p:', index)

In [ ]:
lst1 = ["Strings","are","immutable"]

#index = lst1.index('is')
#print('The index of p:', index)

### Programs on Lists

#### Multiplies all the items in a list

In [44]:
def multiply_list(items):
    tot = 1
    for x in items:
        tot = tot * x
    return tot
print(multiply_list([1,2,5,10]))

100

#### Get the largest number from a list

In [46]:
def max_num_in_list( list ):
    max = list[0]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([2,7,1,3,4,5]))

7

#### Function to list of words that are longer than n from a given list of words.

In [49]:
def long_words(n, str):
    word_len = []
    txt = str.split(" ")
    print(txt)
    for x in txt:
        if len(x) > n:
            word_len.append(x)
    return word_len	
print(long_words(3, "The quick brown fox jumps over the lazy dog"))

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['quick', 'brown', 'jumps', 'over', 'lazy']

Given a list of numbers, write a python function which returns true if one of the first 4 elements in the list is 9. 
Otherwise it should return false. 
The length of the list can be less than 4 also.

a=[1,2,9,3,4]

a1=[1,2,3,4]

In [ ]:
def fun(l,n):
    if n in l[:4]:
        return True
    return False
a=[1,2,9,3,4]
a1=[1,2,3,4]
n=9
print(fun(a,n))
print(fun(a1,n))

#### Fun to swap elements at given positions

In [ ]:
def swapPositions(list, pos1, pos2): 
    list[pos1], list[pos2] = list[pos2], list[pos1] 
    return list

List = [10,20,30,40,50] 
pos1, pos2  = 1, 3
print(swapPositions(List, pos1-1, pos2-1))

#### Fun to find length of list

In [ ]:
def list_length(l1):
    counter = 0
    for i in l1: 
        counter = counter + 1
    return counter
print(list_length([ 1, 4, 5, 7, 8 ]))

#### Fun checking of specified ele is exist

In [ ]:
def check_ele(l1):
    for i in test_list: 
        if(i == 4) : 
            return i 
        else:
            pass
print(check_ele([ 1, 6, 3, 5, 3, 4 ]))

#### Reversing a list using slicing

In [52]:
def reverse_list(lst): 
    new_lst = lst[::-1] 
    return new_lst 

print(reverse_list([10, 11, 12, 13, 14, 15]))

[15, 14, 13, 12, 11, 10]

#### copy list elements

In [53]:
def list_copy(l1): 
    l2 = l1[:] 
    return l2 

l= [1,2,3,4,5]

print(list_copy(l) )

[1, 2, 3, 4, 5]

In [ ]:
def list_copy2(l1): 
    l2 =[] 
    for item in l1: 
        l2.append(item) 
    return l2 
  
l= [1,2,3,4,5]

print(list_copy2(l))

#### fun to count no of occurances of an element

In [54]:
def ele_count(l1, x): 
    count = 0
    for ele in l1: 
        if (ele == x): 
            count = count + 1
    return count 

l= [1,2,3,4,4,4,5]
x = 4

print('{} appeared for {} times'.format(x, ele_count(l, x)))

4 appeared for 3 times

#### printing even elements in a List

In [55]:
def even_lst(l):
    l2=[]
    for num in l: 
        if num % 2 == 0: 
            print(num)
        
even_lst([1,2,3,4,5,6])

2
4
6