PANDAS
-------
Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. 

Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

1D - Series
2D - Data Frame
3D - Panel

Features of Pandas
----------------------------
* Fast and efficient DataFrame object with default and customized indexing.
* Tools for loading data into in-memory data objects from different file formats.
* Data alignment and integrated handling of missing data. Imputation
* Reshaping and pivoting of date sets.
* Label-based slicing, indexing and subsetting of large data sets.
* Columns from a data structure can be deleted or inserted.
* Group by data for aggregation and transformations.
* High performance merging and joining of data.
* Time Series functionality.

In [1]:
import pandas as pd 

df = pd.read_csv('2017.csv')
df

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,NaN
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,NaN
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [2]:
df['Country']

0                        Norway
1                       Denmark
2                       Iceland
3                   Switzerland
4                       Finland
                 ...
150                      Rwanda
151                       Syria
152                    Tanzania
153                     Burundi
154    Central African Republic
Name: Country, Length: 155, dtype: object

In [3]:
df[['Country','Happiness.Rank']].head()

       Country  Happiness.Rank
0       Norway               1
1      Denmark               2
2      Iceland               3
3  Switzerland               4
4      Finland               5

In [4]:
df[:5]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,NaN
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,NaN
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [5]:
df.iloc[:,:2]

                      Country  Happiness.Rank
0                      Norway               1
1                     Denmark               2
2                     Iceland               3
3                 Switzerland               4
4                     Finland               5
..                        ...             ...
150                    Rwanda             151
151                     Syria             152
152                  Tanzania             153
153                   Burundi             154
154  Central African Republic             155

[155 rows x 2 columns]

In [6]:
df.iloc[:5,:2]

       Country  Happiness.Rank
0       Norway               1
1      Denmark               2
2      Iceland               3
3  Switzerland               4
4      Finland               5

In [7]:
df[df['Country']=='Norway']

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,NaN

In [8]:
sorted_data = df.sort_values(by='Freedom')
sorted_data[:5]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
139,Angola,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
129,Sudan,130,4.139,4.345747,3.932253,0.659517,1.214009,0.290921,0.014996,0.182317,0.089848,1.687066
144,Haiti,145,3.603,3.734715,3.471285,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,1.697168
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574

In [10]:
sorted_data1 = df.sort_values(by='Country', ascending=False,inplace=True)
print(sorted_data1)

None

In [11]:
df.apply(lambda x : x)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
137,Zimbabwe,138,3.875,3.978700,3.771300,0.375847,1.083096,0.196764,0.336384,0.189143,0.095375,1.597970
115,Zambia,116,4.514,4.644106,4.383894,0.636407,1.003187,0.257836,0.461603,0.249580,0.078214,1.826705
145,Yemen,146,3.593,3.692750,3.493250,0.591683,0.935382,0.310081,0.249464,0.104125,0.056767,1.345601
93,Vietnam,94,5.074,5.147281,5.000719,0.788548,1.277491,0.652169,0.571056,0.234968,0.087633,1.462319
81,Venezuela,82,5.250,5.370032,5.129968,1.128431,1.431338,0.617144,0.153997,0.065020,0.064491,1.789464
...,...,...,...,...,...,...,...,...,...,...,...,...
23,Argentina,24,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005
139,Angola,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
52,Algeria,53,5.872,5.978286,5.765714,1.091864,1.146217,0.617585,0.233336,0.069437,0.146096,2.567604
108,Albania,109,4.644,4.752464,4.535536,0.996193,0.803685,0.731160,0.381499,0.201313,0.039864,1.490442
140,Afghanistan,141,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801

In [12]:
df.apply(lambda x : x[0])

Country                            Norway
Happiness.Rank                          1
Happiness.Score                     7.537
Whisker.high                      7.59444
Whisker.low                       7.47956
Economy..GDP.per.Capita.          1.61646
Family                            1.53352
Health..Life.Expectancy.         0.796667
Freedom                          0.635423
Generosity                       0.362012
Trust..Government.Corruption.    0.315964
Dystopia.Residual                     NaN
dtype: object

In [17]:
df.apply(lambda x : x[0], axis=0)

Country                           Iceland
Happiness.Rank                          3
Happiness.Score                     7.504
Whisker.high                      7.62203
Whisker.low                       7.38597
Economy..GDP.per.Capita.          1.48063
Family                            1.61057
Health..Life.Expectancy.         0.833552
Freedom                          0.627163
Generosity                        0.47554
Trust..Government.Corruption.    0.153527
Dystopia.Residual                     NaN
dtype: object

In [18]:
df.apply(lambda x : x['Country'], axis=1)

137       Zimbabwe
115         Zambia
145          Yemen
93         Vietnam
81       Venezuela
          ...
23       Argentina
139         Angola
52         Algeria
108        Albania
140    Afghanistan
Length: 155, dtype: object

In [19]:
def clip_score(score):
    if score > 7 :
       score=7
    return score
df['Happiness.Score'].apply(lambda x: clip_score(x))

137    3.875
115    4.514
145    3.593
93     5.074
81     5.250
       ...
23     6.599
139    3.795
52     5.872
108    4.644
140    3.794
Name: Happiness.Score, Length: 155, dtype: float64

## Descriptive Stats using CSV data

In [20]:
x = pd.read_csv('2017.csv')

In [21]:
print (x.index)

RangeIndex(start=0, stop=155, step=1)

In [22]:
print (x.columns)

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [23]:
print (x.values)

[['Norway' 1 7.537000179 ... 0.362012237 0.315963835 nan]
 ['Denmark' 2 7.521999836 ... 0.355280489 0.400770068 2.3137073519999998]
 ['Iceland' 3 7.504000187000001 ... 0.47554022100000004 0.153526559 nan]
 ...
 ['Tanzania' 153 3.348999977 ... 0.35425636200000005 0.066035107
  0.621130466]
 ['Burundi' 154 2.904999971 ... 0.204435185 0.084147945
  1.6830241680000002]
 ['Central African Republic' 155 2.6930000780000003 ... 0.280876487
  0.056565076 2.066004753]]

In [24]:
print (x.shape)

(155, 12)

In [25]:
print (x.count())

Country                          155
Happiness.Rank                   155
Happiness.Score                  155
Whisker.high                     155
Whisker.low                      155
Economy..GDP.per.Capita.         155
Family                           155
Health..Life.Expectancy.         155
Freedom                          155
Generosity                       155
Trust..Government.Corruption.    155
Dystopia.Residual                153
dtype: int64

In [26]:
print (x.describe())

       Happiness.Rank  Happiness.Score  Whisker.high  Whisker.low  \
count      155.000000       155.000000    155.000000   155.000000
mean        78.000000         5.354019      5.452326     5.255713
std         44.888751         1.131230      1.118542     1.145030
min          1.000000         2.693000      2.864884     2.521116
25%         39.500000         4.505500      4.608172     4.374955
50%         78.000000         5.279000      5.370032     5.193152
75%        116.500000         6.101500      6.194600     6.006527
max        155.000000         7.537000      7.622030     7.479556

       Economy..GDP.per.Capita.      Family  Health..Life.Expectancy.  \
count                155.000000  155.000000                155.000000
mean                   0.984718    1.188898                  0.551341
std                    0.420793    0.287263                  0.237073
min                    0.000000    0.000000                  0.000000
25%                    0.663371    1.042635                  0.369866
50%                    1.064578    1.253918                  0.606042
75%                    1.318027    1.414316                  0.723008
max                    1.870766    1.610574                  0.949492

          Freedom  Generosity  Trust..Government.Corruption.  \
count  155.000000  155.000000                     155.000000
mean     0.408786    0.246883                       0.123120
std      0.149997    0.134780                       0.101661
min      0.000000    0.000000                       0.000000
25%      0.303677    0.154106                       0.057271
50%      0.437454    0.231538                       0.089848
75%      0.516561    0.323762                       0.153296
max      0.658249    0.838075                       0.464308

       Dystopia.Residual
count         153.000000
mean            1.844360
std             0.500616
min             0.377914
25%             1.584613
50%             1.826705
75%             2.126607
max             3.117485

In [27]:
print (x.head())

       Country  Happiness.Rank  Happiness.Score  Whisker.high  Whisker.low  \
0       Norway               1            7.537      7.594445     7.479556
1      Denmark               2            7.522      7.581728     7.462272
2      Iceland               3            7.504      7.622030     7.385970
3  Switzerland               4            7.494      7.561772     7.426227
4      Finland               5            7.469      7.527542     7.410458

   Economy..GDP.per.Capita.    Family  Health..Life.Expectancy.   Freedom  \
0                  1.616463  1.533524                  0.796667  0.635423
1                  1.482383  1.551122                  0.792566  0.626007
2                  1.480633  1.610574                  0.833552  0.627163
3                  1.564980  1.516912                  0.858131  0.620071
4                  1.443572  1.540247                  0.809158  0.617951

   Generosity  Trust..Government.Corruption.  Dystopia.Residual
0    0.362012                       0.315964                NaN
1    0.355280                       0.400770           2.313707
2    0.475540                       0.153527                NaN
3    0.290549                       0.367007           2.276716
4    0.245483                       0.382612           2.430182

In [28]:
print (x.tail())

                      Country  Happiness.Rank  Happiness.Score  Whisker.high  \
150                    Rwanda             151            3.471      3.543030
151                     Syria             152            3.462      3.663669
152                  Tanzania             153            3.349      3.461430
153                   Burundi             154            2.905      3.074690
154  Central African Republic             155            2.693      2.864884

     Whisker.low  Economy..GDP.per.Capita.    Family  \
150     3.398970                  0.368746  0.945707
151     3.260331                  0.777153  0.396103
152     3.236570                  0.511136  1.041990
153     2.735310                  0.091623  0.629794
154     2.521116                  0.000000  0.000000

     Health..Life.Expectancy.   Freedom  Generosity  \
150                  0.326425  0.581844    0.252756
151                  0.500533  0.081539    0.493664
152                  0.364509  0.390018    0.354256
153                  0.151611  0.059901    0.204435
154                  0.018773  0.270842    0.280876

     Trust..Government.Corruption.  Dystopia.Residual
150                       0.455220           0.540061
151                       0.151347           1.061574
152                       0.066035           0.621130
153                       0.084148           1.683024
154                       0.056565           2.066005

In [29]:
print (x.cumsum())

                                               Country  Happiness.Rank  \
0                                               Norway               1
1                                        NorwayDenmark               3
2                                 NorwayDenmarkIceland               6
3                      NorwayDenmarkIcelandSwitzerland              10
4               NorwayDenmarkIcelandSwitzerlandFinland              15
..                                                 ...             ...
150  NorwayDenmarkIcelandSwitzerlandFinlandNetherla...           11476
151  NorwayDenmarkIcelandSwitzerlandFinlandNetherla...           11628
152  NorwayDenmarkIcelandSwitzerlandFinlandNetherla...           11781
153  NorwayDenmarkIcelandSwitzerlandFinlandNetherla...           11935
154  NorwayDenmarkIcelandSwitzerlandFinlandNetherla...           12090

     Happiness.Score  Whisker.high  Whisker.low  Economy..GDP.per.Capita.  \
0              7.537      7.594445     7.479556                  1.616463
1             15.059     15.176173    14.941827                  3.098846
2             22.563     22.798203    22.327797                  4.579479
3             30.057     30.359976    29.754025                  6.144459
4             37.526     37.887518    37.164482                  7.588031
..               ...           ...          ...                       ...
150          817.464    832.045813   802.882187                151.251410
151          820.926    835.709482   806.142518                152.028563
152          824.275    839.170912   809.379089                152.539699
153          827.180    842.245602   812.114398                152.631321
154          829.873    845.110486   814.635514                152.631321

         Family  Health..Life.Expectancy.    Freedom  Generosity  \
0      1.533524                  0.796667   0.635423    0.362012
1      3.084645                  1.589232   1.261429    0.717293
2      4.695219                  2.422784   1.888592    1.192833
3      6.212131                  3.280915   2.508663    1.483382
4      7.752378                  4.090073   3.126613    1.728865
..          ...                       ...        ...         ...
150  182.211265                 84.422395  62.559526   36.933706
151  182.607368                 84.922929  62.641065   37.427370
152  183.649358                 85.287438  63.031083   37.781626
153  184.279151                 85.439049  63.090984   37.986062
154  184.279151                 85.457821  63.361826   38.266938

     Trust..Government.Corruption.  Dystopia.Residual
0                         0.315964                NaN
1                         0.716734           2.313707
2                         0.870260                NaN
3                         1.237268           4.590424
4                         1.619879           7.020605
..                             ...                ...
150                      18.725539         276.755385
151                      18.876886         277.816959
152                      18.942921         278.438089
153                      19.027069         280.121113
154                      19.083634         282.187118

[155 rows x 12 columns]

# Introd to DataFrame

In [30]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [31]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print (df)
#Create a DataFrame from List

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [32]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)
#Create a DataFrame from Dict of ndarrays / Lists

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [33]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [34]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [35]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [36]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

#Create a DataFrame from Dict of Series

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [37]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['one'])

#Column Selection

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [38]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series
print ("Adding a new column by passing as Series:")

df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

print ("Adding a new column using the existing columns in DataFrame:")

df['four']=df['one']+df['three']
print (df)
# column addition

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [39]:
# using del function
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print (df)
# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)
# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [40]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df
print (df.loc['b'])

#Selection by Label Rows can be selected by passing row label
# to a loc function.

one    2.0
two    2.0
Name: b, dtype: float64

In [41]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[2])

#Rows can be selected by passing integer location to an iloc function.

one    3.0
two    3.0
Name: c, dtype: float64

In [42]:
#Multiple rows can be selected using ‘ : ’ operator.

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
    'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [47]:
#Let us drop a label and will see how many rows will get dropped.
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df = df.append(df2)
print(df)
# Drop rows with label 0
df = df.drop(0)
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
   a  b
1  3  4
1  7  8

## Iterating over dataframe

In [48]:
import pandas as pd

#Create a Dictionary of series
d = {
    'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith',
                       'Jack','Lee','David','Gasper','Betina','Andres']),
    'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
    'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10, 3.65])
     }
#Create a DataFrame
df = pd.DataFrame(d)
print (df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [49]:
for key,value in df.iteritems():
   print (key,value)

Name 0        Tom
1      James
2      Ricky
3        Vin
4      Steve
5      Smith
6       Jack
7        Lee
8      David
9     Gasper
10    Betina
11    Andres
Name: Name, dtype: object
Age 0     25
1     26
2     25
3     23
4     30
5     29
6     23
7     34
8     40
9     30
10    51
11    46
Name: Age, dtype: int64
Rating 0     4.23
1     3.24
2     3.98
3     2.56
4     3.20
5     4.60
6     3.80
7     3.78
8     2.98
9     4.80
10    4.10
11    3.65
Name: Rating, dtype: float64

In [50]:
for row in df.iterrows():
   print (row)

(0, Name       Tom
Age         25
Rating    4.23
Name: 0, dtype: object)
(1, Name      James
Age          26
Rating     3.24
Name: 1, dtype: object)
(2, Name      Ricky
Age          25
Rating     3.98
Name: 2, dtype: object)
(3, Name       Vin
Age         23
Rating    2.56
Name: 3, dtype: object)
(4, Name      Steve
Age          30
Rating      3.2
Name: 4, dtype: object)
(5, Name      Smith
Age          29
Rating      4.6
Name: 5, dtype: object)
(6, Name      Jack
Age         23
Rating     3.8
Name: 6, dtype: object)
(7, Name       Lee
Age         34
Rating    3.78
Name: 7, dtype: object)
(8, Name      David
Age          40
Rating     2.98
Name: 8, dtype: object)
(9, Name      Gasper
Age           30
Rating       4.8
Name: 9, dtype: object)
(10, Name      Betina
Age           51
Rating       4.1
Name: 10, dtype: object)
(11, Name      Andres
Age           46
Rating      3.65
Name: 11, dtype: object)

In [51]:
for row in df.itertuples():
    print (row)

Pandas(Index=0, Name='Tom', Age=25, Rating=4.23)
Pandas(Index=1, Name='James', Age=26, Rating=3.24)
Pandas(Index=2, Name='Ricky', Age=25, Rating=3.98)
Pandas(Index=3, Name='Vin', Age=23, Rating=2.56)
Pandas(Index=4, Name='Steve', Age=30, Rating=3.2)
Pandas(Index=5, Name='Smith', Age=29, Rating=4.6)
Pandas(Index=6, Name='Jack', Age=23, Rating=3.8)
Pandas(Index=7, Name='Lee', Age=34, Rating=3.78)
Pandas(Index=8, Name='David', Age=40, Rating=2.98)
Pandas(Index=9, Name='Gasper', Age=30, Rating=4.8)
Pandas(Index=10, Name='Betina', Age=51, Rating=4.1)
Pandas(Index=11, Name='Andres', Age=46, Rating=3.65)

## Working on Dataframes

In [52]:
import pandas as pd
import numpy as np
raw_data = {
        'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'],
        'age': [42, np.nan, 36, 24, 73],
        'sex': ['m', np.nan, 'f', 'm', 'f'],
        'preTestScore': [4, np.nan, np.nan, 2, 3],
        'postTestScore': [25, np.nan, np.nan, 62, 70]
        }

df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 
                                       'age', 'sex', 'preTestScore', 
                                       'postTestScore'])
print (df)

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

In [53]:
print('----Drop missing observations------')
df_no_missing = df.dropna()
print (df_no_missing)

----Drop missing observations------
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

In [54]:
print('----Drop rows where all cells in that row is NA------')
df_cleaned = df.dropna(how='all')
print(df_cleaned)

----Drop rows where all cells in that row is NA------
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
2       Tina       Ali  36.0   f           NaN            NaN
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

In [58]:
print('----Select some raws but ignore the missing data points------')
print (df[df['age'].notnull() & df['sex'].notnull()])

----Select some raws but ignore the missing data points------
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
2       Tina       Ali  36.0   f           NaN            NaN
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

In [60]:
print('----Drop rows that contain less than five observations------')
print(df.dropna(thresh=4))

----Drop rows that contain less than five observations------
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
2       Tina       Ali  36.0   f           NaN            NaN
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

In [55]:
print('----Fill in missing data with zeros------')
print(df.fillna(0))

----Fill in missing data with zeros------
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
1          0         0   0.0   0           0.0            0.0
2       Tina       Ali  36.0   f           0.0            0.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

In [56]:
print('--Fill in missing in preTestScore with the mean value of preTestScore--')
#inplace=True means that the changes are saved to the df right away
df_cleaned["preTestScore"].fillna(df_cleaned["preTestScore"].mean(),inplace=True)
print (df_cleaned)

--Fill in missing in preTestScore with the mean value of preTestScore--
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
2       Tina       Ali  36.0   f           3.0            NaN
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [57]:
print('--Fill in missing in preTestScore with the mean value of preTestScore--')
#inplace=True means that the changes are saved to the df right away
df_cleaned["postTestScore"].fillna(df_cleaned["postTestScore"].median(),inplace=True)
print (df_cleaned)

--Fill in missing in preTestScore with the mean value of preTestScore--
  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
2       Tina       Ali  36.0   f           3.0           62.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [61]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.mean())
#Returns the average value

Age       31.833333
Rating     3.743333
dtype: float64

In [62]:
print (df.std())

Age       9.232682
Rating    0.661628
dtype: float64

In [63]:
df.dtypes

Name       object
Age         int64
Rating    float64
dtype: object

In [64]:
print (df.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [65]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe(include=['object']))

       Name
count    12
unique   12
top     Lee
freq      1

In [66]:
print (df. describe(include='all'))

       Name        Age     Rating
count    12  12.000000  12.000000
unique   12        NaN        NaN
top     Lee        NaN        NaN
freq      1        NaN        NaN
mean    NaN  31.833333   3.743333
std     NaN   9.232682   0.661628
min     NaN  23.000000   2.560000
25%     NaN  25.000000   3.230000
50%     NaN  29.500000   3.790000
75%     NaN  35.500000   4.132500
max     NaN  51.000000   4.800000

In [74]:
import pandas as pd 

df = pd.read_csv('cancer.csv')
df.head(2)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,NaN,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902

In [75]:
# cols names
df.columns.tolist()

['id',
 'diagnosis',
 'radius_mean',
 'texture_mean',
 'perimeter_mean',
 'area_mean',
 'smoothness_mean',
 'compactness_mean',
 'concavity_mean',
 'concave points_mean',
 'symmetry_mean',
 'fractal_dimension_mean',
 'radius_se',
 'texture_se',
 'perimeter_se',
 'area_se',
 'smoothness_se',
 'compactness_se',
 'concavity_se',
 'concave points_se',
 'symmetry_se',
 'fractal_dimension_se',
 'radius_worst',
 'texture_worst',
 'perimeter_worst',
 'area_worst',
 'smoothness_worst',
 'compactness_worst',
 'concavity_worst',
 'concave points_worst',
 'symmetry_worst',
 'fractal_dimension_worst']

In [76]:
df['diagnosis'].head(5)

0    M
1    M
2    M
3    M
4    M
Name: diagnosis, dtype: object

In [77]:
df['diagnosis'].tail(5)

564    M
565    M
566    M
567    M
568    B
Name: diagnosis, dtype: object

In [78]:
df.isnull().sum()

id                         0
diagnosis                  0
radius_mean                1
texture_mean               0
perimeter_mean             0
area_mean                  0
smoothness_mean            0
compactness_mean           0
concavity_mean             0
concave points_mean        0
symmetry_mean              0
fractal_dimension_mean     0
radius_se                  0
texture_se                 0
perimeter_se               0
area_se                    1
smoothness_se              0
compactness_se             0
concavity_se               0
concave points_se          0
symmetry_se                0
fractal_dimension_se       0
radius_worst               0
texture_worst              0
perimeter_worst            0
area_worst                 0
smoothness_worst           0
compactness_worst          0
concavity_worst            0
concave points_worst       0
symmetry_worst             0
fractal_dimension_worst    0
dtype: int64

In [79]:
df['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

In [80]:
# frequency of values
df['diagnosis'].value_counts()[0]

357

In [ ]:
# axis=0 means Rows and axis=1 means cols
df1=df.drop(['id'],axis=1)
df1

In [ ]:
df1.dropna(axis=1,inplace=True)
df1

## Data frame example for practice

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('sales.csv', index_col='month')
df

In [ ]:
df['salt']['Jan']

In [ ]:
df.eggs['Mar']

In [ ]:
df.loc['May', 'spam']

In [ ]:
df.iloc[4, 2]

In [ ]:
df_new = df[['salt','eggs']]
df_new

In [ ]:
df

In [ ]:
df['eggs']

In [ ]:
type(df['eggs'])

In [ ]:
df['eggs'][1:4]

In [ ]:
df['eggs'][4]

In [ ]:
df.loc[:, 'eggs':'salt']

In [ ]:
df.loc['Jan':'Apr',:]

In [ ]:
df.loc['Mar':'May', 'salt':'spam']

In [ ]:
df.iloc[2:5, 1:]

In [ ]:
df.loc['Jan':'May', ['eggs', 'spam']]

In [ ]:
df.salt > 60

In [ ]:
df[df.salt > 60]

In [ ]:
df.loc[:, df.isnull().any()]

In [ ]:
df.loc[:, df.notnull().all()]

In [ ]:
df.dropna(how='any')

In [ ]:
df.eggs[df.salt > 55]