### Tuple conduira

#### creating Tuples

In [1]:
t1=(10,20.50,"python",'p',True)
t1

(10, 20.5, 'python', 'p', True)

In [2]:
t2= 10,20.50,"python",'p',True
t2

(10, 20.5, 'python', 'p', True)

In [5]:
# if tuple contains single element, comma has to be given after the element
t3 = (10,)
t3

10

In [6]:
# tuple can be empty
t4 = ()
t4

()

In [8]:
## nested tuple
t5 = (10,20.50,"python")
t6=(t5,'p',True)
t6

((10, 20.5, 'python'), 'p', True)

In [9]:
print(type(t6))

<class 'tuple'>

In [7]:
t7 = tuple()
t7

()

#### Accessing Tuple Elements

In [10]:
t1=(10,20.50,"python",'p',True)

In [11]:
t1[0]

10

In [12]:
t1[1]

20.5

In [13]:
t1[4]

True

In [14]:
t1[5]

IndexError: tuple index out of range

In [15]:
t1=(10,20.50,"python",'p',True)
t1[-1]

True

In [16]:
t1[-5]

10

In [17]:
t1[-6]

IndexError: tuple index out of range

#### Tuple Slicing

In [18]:
t1 = ("python","tuples","are","immutable","write","protected")

print(t1[1:4])

print(t1[:4])

print(t1[:])

print(t1[::2])

print(t1[::-1])

('tuples', 'are', 'immutable')
('python', 'tuples', 'are', 'immutable')
('python', 'tuples', 'are', 'immutable', 'write', 'protected')
('python', 'are', 'write')
('protected', 'write', 'immutable', 'are', 'tuples', 'python')

### basic operations on tuples

In [19]:
t1 = (10,20.50,"python",'p',True)

'p' in t1

True

In [20]:
20.50 not in t1

False

In [21]:
t1 = ("python","tuples","are")

t2 = ("and","immutable","write","protected")

t3 = t1 + t2

print(t3)

t4 = ("Immutable " * 3)
print(t4)

('python', 'tuples', 'are', 'and', 'immutable', 'write', 'protected')
Immutable Immutable Immutable

In [22]:
t1=(100, 255.55, True)

print(len(t1))

print(min(t1))

print(max(t1))

print()

3
True
255.55

### deleting elements from tuple

In [ ]:
t1=(10,20,'rahul',40.6,'z')  
print (t1)
del (t1)

#### Searching for an element

In [ ]:
t2=(10,'savik',40.6,10,'z')  

print(t2.index(40.6))

#print(t2.index('a'))

print(t2.count())

### count

In [ ]:
t2=(10,'savik',40.6,10,'z')  

print(t2.count(10))

#### unpacking

In [23]:
a, b, c = (10, 20, 30)

print(a)

print(b)

print(c)

10
20
30

In [25]:
a, b, c= 10, 20, 30

In [26]:
a, b, c= 10, 20

ValueError: not enough values to unpack (expected 3, got 2)